- name: setting up hostname
  hostname:
    name: "{{component}}"

- name: install {{component}} repo file
  yum:
    name: https://rpms.remirepo.net/enterprise/remi-release-8.rpm
    state: installed

- name: Enable {{component}} 6 version
  shell: dnf module enable {{component}}:6 -y

- name: installing {{component}}
  yum:
    name: "{{component}}"
    state: installed

- name: editing the config file
  replace:
    path: /etc/{{component}}.conf
    regexp: "127.0.0.1"
    replace: "0.0.0.0"

- name: editing the config file
  replace:
    path: /etc/{{component}}/{{component}}.conf
    regexp: "127.0.0.1"
    replace: "0.0.0.0"


- name: Enable and Restart {{component}}
  service:
    name: "{{component}}"
    enabled: yes
    state: restarted















