- name: Set a hostname
  ansible.builtin.hostname:
    name: frontend
    use: systemd

- name: Installing Nginx
  ansible.builtin.yum:
    name: nginx
    state: latest
    
- name: downloading frontend Content
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/frontend.zip
    dest: /usr/share/nginx/html/
    remote_src: yes

- name: Creating Nginx Reverse Proxy Configuration
  ansible.builtin.copy:
    src: roboshop.conf
    dest: /etc/nginx/default.d/
    follow: yes

- name: Enabling Nginx Server
  ansible.builtin.service:
    name: nginx
    enabled: yes

- name: Restarting Nginx Server
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Removing old app content
  ansible.builtin.file:
    path: /usr/share/nginx/html/*
    state: absent