- name: setting up hostname
  hostname:
    name: "{{component}}"

- name: Disable default MySQL module
  shell: dnf module disable {{component}} -y

- name: creating repo {{component}} file
  copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/

- name: installing mysql server
  yum:
    name: mysql-community-server
    state: installed

- name: Enable and Restart "{{component}}" service
  service:
    name: mysqld
    state: restarted
    enabled: yes

- name: change the deafult mysql password
  command: mysql_secure_installation --set-root-pass {{mysql_password}}