- name: installing mysql-client
  yum:
    name: "{{mysql_client}}"
    state: installed

- name: Load the data into mysql
  shell: mysql -h mysql-dev.devopspro789.online -uroot -pRoboShop@1 < {{app_path}}/schema/{{component}}.sql