- name: installing mysql-client
  yum:
    name: "{{mysql_client}}"
    state: installed

- name: load the data
  shell: sudo mysql -h {{hostvars['mysql'].ansible_host}} -uroot -pRoboShop@1 < {{app_path}}/schema/{{component}}.sql