- name: installing mysql-client
  yum:
    name: "{{mysql_client}}"
    state: installed

- name: Load the data into mysql
  shell: mysql -h {{hostvars['mysql'].ansible_host}} -uroot -p{{mysql_password}} < {{app_path}}/schema/{{component}}.sql